@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Обнуление*/
*{padding: 0;margin: 0;border: 0; font-family: 'PT Sans', sans-serif; font-size: 14pt; line-height: 22px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;	width: 100%; font-size: 100%;	line-height: 1; font-size: 14px;	-ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%;	-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container{
    padding: 0 10px;
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
    color: black;
    a{
        &:hover{
            text-decoration: underline;
        }
    }
}

.header{
    background-color: white;
    height: 230px;
    width: 100%;
    
    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        border-bottom: 1px solid rgb(186, 186, 186);
        .logo{
            align-self: center;
            display: block;
            max-height: 150px;
            width: 300px;
            position: relative;
            float: left;
            display: flex;
            img{
                max-width: 120px;
                max-height: inherit;
                display: block;
            }

            .team_name{
                font-weight: bold;
                font-size: 30px;
                margin-left: 20px;
                align-self: center;
                display: block;
                float: right;
            }
        }
    
        .phones{
            align-self: center;
            font-style: bold;
            display: flex;
            flex-direction: column;
            p{
                font-size: 38px;
                line-height: 30px;
            }
        }
    }
}

.menu{
    background-color: white; 
    height: 80px;
    width: 100%; 
    .container{
        padding: 0 120px;
        ul{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;
            p{
                font-size: 26px;
            }
            a{
                font-size: 26px;

            }
        }
    }  
}

.slider{
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 100%; 
    .container{
        position: relative;
        padding: 0;
        .item{
            height: 100%;
            max-width: 980px;
            overflow: hidden;     
            opacity: 1;   
            margin: 0 auto;
            
            img{
                display: block;
                width: 100%;
                margin: 0 auto;
            }
        }
        .fade{
            animation: visible 2s;
        }
    
        .prev, .next{
            font-size: 25px;
            position: absolute;
            top: 50%;
            font-weight: bold;
            padding: 5px 0px;
            border: 2px solid rgba($color: #2c2c2c, $alpha: 0.2);
            background-color: rgba($color: #2c2c2c, $alpha: 0.2);
            color: white;
    
            &:hover{
                cursor: pointer;
            }
        }
    
        .prev{
            padding-right: 9px;
            border-radius: 0 5px 5px 0;
        }
    
        .next{
            padding-left: 9px;
            right: 0;
            border-radius: 5px 0 0 5px;
        }
    }
}

.content{
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 15em;
    .container{
        color: #000;
        display: flex;
        justify-content: space-between;
        .news{
            padding: 10px;
            height: 560px;
            width: 350px;
            background-color: rgb(87, 87, 87);
            color: white;
            .title{
                font-size: 24pt;
                margin-left: 15px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            ul{
                height: 450px;
                margin: 0 0 0 40px;
                li{
                    margin-bottom: 20px;
                    p{
                        font-style: italic;
                    }
                }
            }
            .archive{
                float: right;
                margin-right: 5px;
                bottom: 0;
                font-size: 16pt;
                &:hover{
                    text-decoration: underline;
                    cursor: pointer;
                    color: white;
                }
                a{
                    color: white;
                }
            }
        }

        .description{
            margin-left: 16px;
            height: 560px;
            width: 580px;
            p{
                font-size: 20pt;
                text-decoration: underline;
                margin-bottom: 14px;
            }
        }
    }
}

.footer{
    background-color: #383838;
    height: 200px;
    width: 100%;
    .container{
        padding-top: 20px;
        display: flex;
        color: white;
        a{
            color: white;
        }
        .info{
            margin: 0 10px 0 0;
            word-wrap: break-word;
        }
        .nav{
            margin: 0 5px;
            text-decoration: underline;
            ul{
                list-style: none;
                li{
                    width: fit-content;
                }
            }
        }
        .web-co-info{
            margin-left: auto;
            display: flex;
            position: relative;
            float: right;
            .image{
                display: inline-block;
                margin-left: 100px;
                margin-right: 5px;
                height: 40px;
                width: 40px;
                img{
                    height: 100%;
                }
            }
            span{
                display: block;
                text-align: right;
            }
        }
    }
}

@keyframes 
visible {
    from{
        opacity: 0;
    }
    to{
        opacity: 1 !important;
    }
}

.d-none{
    display: none !important;
}

@media (max-width: 600px) {
    .header{
        .container{
            flex-direction: column;
            .phones{
                margin: 10px auto 0;
            }
        }
    }
    .footer{
        .image{
            margin-left: 0 !important;
        }
    }
    // img{
    //     width: inherit;
    //     height: 100%;
    // }
    .footer{
        height: fit-content;
        .container{
            flex-wrap: wrap;
            .web-co-info{
                margin: 0;
            }
        }
    }
    .menu{
        height: fit-content;
        .container{
            padding: 10px 20px;
            ul{
                flex-wrap: wrap;
                p{
                    display: none;
                }
            }
        }
    }
}